{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ block.super }} - Signup
{% endblock title %}


{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-3"></div>
            <div class=col-6>

                <div class="card" >
                    <div class="card-body">
                        {{form|crispy}}
                        <input type="submit" value="Change Password" class="btn btn-dark form-control my-3">
                    </div>
                    <div class="card-footer text-center text-muted">
                        <!-- login if you have an account -->
                        already have an account <a href="{% url 'login' %}">login</a>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        </form>
{% endblock content %}
