{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ block.super }} - Login
{% endblock title %}



{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Enter new password</h5>
              <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
              {{form|crispy}}
              <input type="submit" value="Reset Password" class="btn btn-dark form-control my-3">
            </div>
            
          </div>
    </form>
{% endblock content %}
